<nav>
  <ul>
    <li class="logo">
      Express Dev Server
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="">
        <i data-vi="website"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="settings">
        <i data-vi="wrench"></i>
        <span>Settings</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="addons">
        <i data-vi="cart"></i>
        <span>Add-Ons</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="about">
        <i data-vi="bullhorn"></i>
        <span>About</span>
      </a>
    </li>
  </ul>
</nav>
