<nav>
  <ul>
    <li class="logo">
      Express Dev Server
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="">
        <i class="material-icons">dashboard</i>
        <span>Dashboard</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="settings">
        <i class="material-icons">settings</i>
        <span>Settings</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="addons">
        <i class="material-icons">add_box</i>
        <span>Add-Ons</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="about">
        <span>About</span>
      </a>
    </li>
  </ul>
</nav>
