<header>
  <nav>
    <i class="logo">
      Express Dev Server
    </i>
    <ul>
      <li>
        <a routerLink="">
          <!-- <i data-vi="website"></i> -->
          <i class="material-icons">dashboard</i>
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink="settings">
          <!-- <i data-vi="wrench"></i> -->
          <i class="material-icons">settings</i>
          Settings
        </a>
      </li>
      <li>
        <a routerLink="addons">
          <!-- <i data-vi="cart"></i> -->
          <i class="material-icons">add_shopping_cart</i>
          Addons
        </a>
      </li>
      <li>
        <a routerLink="about">
          <!-- <i data-vi="bullhorn"></i> -->
          <i class="material-icons">description</i>
          About
        </a>
      </li>

    </ul>
  </nav>
  <div class="clearFloats"></div>
</header>
