/* You can add global styles to this file, and also import other style files */
body, html {
  background-color: #263238;
  height: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

#content {
  padding: 0 10px 5px 10px;
}
